services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./db.sqlite3:/app/db.sqlite3
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=core.settings

  worker:
    build: .
    command: celery -A core worker --loglevel=info
    volumes:
      - .:/app
      - ./db.sqlite3:/app/db.sqlite3
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=core.settings

  beat:
    build: .
    command: celery -A core beat --loglevel=info
    volumes:
      - .:/app
      - ./db.sqlite3:/app/db.sqlite3
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=core.settings